---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div class="container">
            <Header />
            <main>
                <section>
                    <h1>Breno Bragalha</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Dolore tempora nemo qui, itaque cupiditate
                        consectetur maiores! Nostrum facilis corporis pariatur
                        error aspernatur ad officiis voluptatibus, harum aut
                        sint at aliquam?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Dolore tempora nemo qui, itaque cupiditate
                        consectetur maiores! Nostrum facilis corporis pariatur
                        error aspernatur ad officiis voluptatibus, harum aut
                        sint at aliquam?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit:
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor, sit amet consectetur</li>
                        <li>Lorem ipsum dolor, sit amet consectetur</li>
                        <li>Lorem ipsum dolor, sit amet consectetur</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Dolore tempora nemo qui, itaque cupiditate
                        consectetur maiores! Nostrum facilis corporis pariatur
                        error aspernatur ad officiis voluptatibus, harum aut
                        sint at aliquam?
                    </p>
                </section>
            </main>
        </div>
    </body>
</html>
